body{text-align: center; background-image: url(water.png)}
h1{text-align:center;color:rgb(49, 34, 41);font-size:50;}
   p{text-align: center;color:rgba(194, 49, 49, 0.76);font-size:40; }
   button{color:#F5F0F0;font-size: 40}
   div{background-color: rgba(151, 148, 148, 0.53)}
   